h1{
    font-size: 2.5em;
    padding: 1.5em  0 0.5em;
    }
   
.contentText{
   
    padding: 1em;
}

#iconTools{
    display:flex;
    padding: 1em;
   
  align-items: center;
}

#mariaDB{
    width: 2em;
}
#iconHtml{
    color:red;
    font-size: xx-large;
    padding: 0 0.25em 0 0em;
}
#iconCss{
    color:blue;
    font-size: xx-large;
}
#iconPhp{
    color:#8993be;
    font-size: xx-large;
}
#iconSymfony{
    color:white;
    font-size: xx-large;
}
#iconJs{
    color:yellow;
    font-size: xx-large;
}
#iconReact{
    color:rgb(0, 217, 255);
    font-size: xx-large;
}
#iconGitHub{
    color:white;
    font-size: xx-large;
}
