.navbar {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    display: flex;
    background-color: black;

}
 .navbarUl{
        display: flex;
        width: 100%;
        justify-content: space-between;
        
    
    }
.navbarLi{
     padding: 1em 1em 0;
}
@media (min-width:320px)  { 
    .navbarLi{
        padding: 0.4em 0.4em 0;
   }
     }

     